.info {
    display: flex;
    width: 90%;
    max-width: 1600px;
    flex-direction: column;
    margin: 0 auto 60px;

    &__content {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            right: 30px;
            top: 80px;
            width: 130px;
            height: 250px;
            background: url('../../assets/images/wiggle.svg');
            color: #eee;
            z-index: -5;
        }
    }

    &__image {
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__list {
        margin: 35px;
    }

    &__listItem {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    &__listBullet {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        background-color: #eee;
        color: #fff;
        font-weight: 700;
        font-size: 32px;
        text-align: right;
        line-height: 1.9;
    }
}

@media only screen and (min-width: 768px) {
    .info {
        flex-direction: row;

        &__reverse {
            flex-direction: row-reverse;
        }

        &>div {
            width: 47.5%;
            margin: 0 1.25%;
        }

        &__image {
            height: auto;
            margin-bottom: 0;
        }
    }
}