html {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.4;
}

h3 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}

li {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

p {
    color: #777;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    h1 { font-size: 72px; }
    h2 { font-size: 36px; }
}