.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;    
    z-index: 100;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1600px;
        width: 90%;
        padding: 20px 5%;
    }

    &--background {
        background-color: #505050;
        box-shadow: 0 8px 12px -6px #777;
    }

    &__logo {
        width: 80px;
    }

    .shop {
        color: #F00F76;
    }
}

.mobileNav {
    display: flex;
    align-items: center;
    z-index: 100;
    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -100vh;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fffffff8;
        transition: 0.3s ease-in-out;
        z-index: -1;

        &.active { top: 0; }
    }

    li {
        text-align: center;
        padding: 15px 0;

        a {
            color: #777;
            font-size: 32px;
        }
    }

    .cartIcon {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
}

.nav {
    display: none;

    ul {
        display: flex;
        align-items: center;
    }

    li {
        display: inline-block;
        list-style-type: none;
        padding: 0 15px;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.hamburger {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 200;

    .top { stroke-dasharray: 40 139; }
    .bottom { stroke-dasharray: 40 180; }

    &.active {
        transform: rotate(45deg);

        .top { stroke-dashoffset: -98px; }
        .bottom { stroke-dashoffset: -138px; }
        .line { stroke: #777;}
    }

    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:#fff;
        stroke-width: 5.5;
        stroke-linecap: round;
    }
}

.cartIcon {
    fill: #F00F76;
    margin-left: 20px;
    cursor: pointer;
}

.st0{ fill: #ffffff; }
.st1{ fill:none; stroke: #F00F76; stroke-width: 2; stroke-miterlimit: 10; }
.st2{ fill: #F00F76; }

@media only screen and (min-width: 768px) {
    .nav { display: flex; }
    .mobileNav { display: none;}
}