.footer {
    width: 100%;
    background-color: #000;

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        background-color: #fff;

        a {
            width: 40px;
            margin: 0 15px;

            svg {
                transition: 0.2s ease-in-out;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 1600px;
        width: 90%;
        margin: 0 auto;
    }

    &__title {
        padding: 30px;
        color: #fff;
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        color: #fff;

        ul {
            margin: 30px 20px;

            li {
                margin-bottom: 10px;
                font-weight: 300;

                &:first-child {
                    font-weight: 700;
                }
            }
        }
    }
}

.facebook { fill: #3b5998; }
.instagram { fill: url(#rg); }
.youtube { fill: #ff0000; }

@media only screen and (min-width: 768px) {
    .footer {
        &__content {
            flex-direction: row;
        }
    }
}