.shop {
    margin: 200px 0 80px;
}
  
  .App__view-cart-wrapper {
    float: right;
  }
  
  .App__view-cart {
    font-size: 15px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
  } 